

<br /><%=@p1name %> vs <%=@p2name %><br />
HP : <%=@hp1%>    HP : <%=@hp2%>
<br />
<form action='/play'>
  <input type='submit' value='Attack!'/>
  <input type='hidden' name='attack' value='p1' />
</form>
<% if @attack == 'p1' %>
  <%=@p1name %> is attacking!...
<% elsif @attack == 'p2'%>
  <%=@p2name %> is attacking!...
<% end %>
